:root {
  --clr-txt: black;
  --clr-bg: white;
  --clr-shade: rgb(from var(--clr-txt) calc(r + 100) calc(g + 100) calc(b + 100));
  --fade-time: 150ms;
  --time: 3s;
}
*,
  *::before,
  *::after {
    box-sizing: border-box;
}
html:focus-within {
  scroll-behavior: smooth;
}
html, body {
  font-size:calc(12px + 1.5svw);
  line-height: 1.5;
}
body > * {
  color: var(--clr-txt);
  background-color: var(--clr-bg);
}
h1 {
  font-size: 2rem;
}
.subtitle {
  font-size: .9rem;
}
h1, .subtitle {
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
}
ul, li {
  list-style-position: revert-layer;
}
ul .log {
  display: inline;
  position: relative;
  border-left: .15ch var(--clr-txt) solid;
  padding-left: 2ch;
}
ul .date {
  display: inline-block;
  color: rgb(134, 134, 134);
  width: 12ch;
}
.log::before {
  content: '';
  position: absolute;
  width: 1ch;
  aspect-ratio: 1;
  left: -.55ch;
  top: 0;
  background: var(--clr-txt);
  border-radius: 50%;
  transform: translateY(55%);
}
#log {
  width: fit-content;
  margin-inline: auto;
}
footer {
  width: fit-content;
  margin-inline: auto;
}
button {
  background: var(--clr-txt);
  color: var(--clr-bg);
  padding: 1.4ch 3ch;
  border-radius: .25rem;
  border-color: transparent;
  cursor: pointer;
  transition: box-shadow var(--fade-time) ease-in-out;
}
button:hover, button:focus-within {
  box-shadow: 0 .25ch 1ch var(--clr-txt);
}
@supports (display: grid) {
  body, ul {
    display: grid;
  }
  body {
    height: calc(100svh - 1rem);
    margin: auto;
    grid-template-rows: 4rem min(fit-content, 1fr) 4rem;
    place-items: center;
  }
  ul {
    grid-template-columns: 12ch 1fr;
  }
  .log::before {
     transform: translateY(100%);
  }
  @media (orientation: landscape) {
    body {
      margin: 0;
      height: 100vmin;
    }
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --clr-bg: black;
    --clr-txt: white;
    --clr-shade: rgb(from var(--clr-txt) calc(r - 100) calc(g - 100) calc(b - 100));
    text-shadow: 1px 1px .8rem var(--clr-bg);
  }
}
