:root {
  --clr-txt: black;
  --fade-time: .3s;
  --time: 3s;
}
*,
  *::before,
  *::after {
    box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-size: inherit;
}
html:focus-within {
  scroll-behavior: smooth;
}
html, body {
  font-size:calc(12px + 1.5svw);
  line-height: 1.5;
}
body > * {
  color: var(--clr-txt);
  background-color: var(--clr-bg);
}
h1 {
  font-size: 2rem;
}
.subtitle {
  font-size: .9rem;
}
h1, .subtitle {
  text-align: center;
}
li {
  position: relative;
}
.log .date {
  position: absolute;
  left: 0;
}
@media (prefers-color-scheme: dark) {
  :root {
    text-shadow: 1px 1px .8rem white;
    background-color: black;
  }
  body {
    background: rgba(10, 10, 10, .8);
  }
}
